<%-include('../partials/bootstrap.ejs') %>
  <body>
    <%-include('../layouts/navbar')%>
    <%-include('../partials/flash.ejs') %>
    <h1>All Campgrounds :-</h1>
    <ul>
      <% for(let campground of allCampgrounds){ %>
      <li>
        <a href="campgrounds/<%=campground._id%>"> <%=campground.name%> </a>
      </li>
      <% } %>
    </ul>
    <a href="/campgrounds/addCampground">add campground</a>

    <%-include('../partials/JavaScript.ejs') %>
  </body>
</html>
